<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Insert title here</title>
</head>
<body>
<p>Hello world!!!! from app002</p>
<span th:text="${principal.getName()}">Bob</span>
<br/>
<a href="details.html" th:href="@{https://test-sso001.herokuapp.com/}">app001</a>
<br/>
<a href="details.html" th:href="@{https://test-sso001.herokuapp.com/logout}">app001 safe</a>
<br/>
<a href="logout" th:href="@{https://dev-872798.oktapreview.com/oauth2/default/v1/logout(id_token_hint=${token},post_logout_redirect_uri='https://test-sso002.herokuapp.com/logout')}">Logout</a>
<br/>
<br/>
Token: <span th:text="${token}"></span>
</body>
</html>
